body{
    font-family: 'Inter', sans-serif;
}
.text-primary{
    color: #003c8c !important;
}
.bg-primary{
    --bs-primary-rgb: #003c8c;
}
.bg-primary{
    background-color: #003c8c !important;
}
.Weekly-roster{
    max-width: 900px;
}
.question-item_count{
    width: 28px;
    height: 28px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}

.form-check-input:checked {
    background-color: #003c8c;
    border-color: #003c8c;
}
.form-check-input{
    width: 17px;
    height: 17px;
}
.btn-primary{
    --bs-btn-bg: #003c8c;
    --bs-btn-border-color: #003c8c;

    --bs-btn-hover-bg: #06316a;
    --bs-btn-hover-border-color: #06316a;

    --bs-btn-active-bg: #003c8c;
    --bs-btn-active-border-color: #003c8c
}

.btn-light{
    --bs-btn-color: #344054;
    --bs-btn-bg: white;
    --bs-btn-border-color: #D0D5DD;

    --bs-btn-hover-color: #1D2939;
    --bs-btn-hover-bg: #F9FAFB;
    --bs-btn-hover-border-color: #D0D5DD;

    --bs-btn-active-color: #1D2939;
    --bs-btn-active-bg: #F9FAFB;
    --bs-btn-active-border-color: #D0D5DD;

    --bs-btn-disabled-color: #344054;
    --bs-btn-disabled-bg: #FFFFFF;
    --bs-btn-disabled-border-color: #EAECF0;
}
.object-cover{
    object-fit: cover;
}
.navbar{
    z-index: 100;
}
.opacity-90{
    opacity: .9;
}
.section-padder{
    padding: 80px 0px;
}

.pagination{
    --bs-pagination-border-width: 0px;
    --bs-pagination-color: #667085;
    --bs-pagination-hover-color:#1D2939;
    --bs-pagination-active-bg:#003c8c;
    --bs-pagination-hover-bg: #F9FAFB;
    --bs-pagination-active-color:white;
    --bs-pagination-padding-x: 12px;
    --bs-pagination-padding-y: 4px;
}
.pagination .page-item .page-link {
    border-radius: 8px;
}